@using ContasApplication.Models
@model DespesaAuxiliar;
@{
	ViewData["Title"] = "Index Page";
}

<div class="text-center" id="containerIndex">
	<a role="button" class="btn btn-primary" asp-controller="Despesas" asp-action="AddDespesa">Nova despesa</a>
	<a role="button" class="btn btn-danger" asp-controller="Despesas" asp-action="RemoveDespesaView">Remover despesa</a>

	<table class="table table-striped" id="table-Despesas">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Valor</th>
				<th scope="col">Data</th>
				<th scope="col">Num.Parcelas</th>
				<th scope="col">Paga(s)</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.ListDespesas != null && Model.ListDespesas.Any())
			{
				@foreach (DespesaModel item in Model.ListDespesas)
				{
					<tr>
						<td>@item.NomeDespesa</td>
						<td>R$ @item.ValorDespesa.ToString("F2")</td>
						<td>@item.CreateDate</td>
						<td>@item.QuantidadeParcelas</td>
						<td>@item.QuantidadeParcelasPagas</td>
					</tr>
				}
			}
			<tr>
				<td>
					R$ @Model.ValorTotal.ToString("F2")
				</td>
			</tr>
		</tbody>
	</table>
</div>
