@using ContasApplication.Models
@model List<DespesaAuxiliar>;
@{
	ViewData["Title"] = "Projecao";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="container">
	@foreach (var item in Model)
	{
		<div class="item" data-table="@item.Mes.MesReferencia.Month" onclick="mostrarDetalhes('@item.Mes')">
			<h4>@item.Mes.NomeMes / @item.Mes.MesReferencia.Year</h4>
			<p>R$ @item.ValorTotal.ToString("F2").</p>
		</div>

		<div class="text-center" >
			<table class="table table-striped" id="@item.Mes.MesReferencia.Month" style="display: none; border: 1px solid black; padding: 10px; margin-top: 10px;">
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Valor</th>
						<th scope="col" class="hidden-on-small" class="hidden-on-small">Data</th>
						<th scope="col" class="hidden-on-small">Num.Parcelas</th>
						<th scope="col" class="hidden-on-small">Paga(s)</th>
						<th scope="col">Tipo</th>
					</tr>
				</thead>
				<tbody>
					@if (item.ListDespesas != null && item.ListDespesas.Any())
					{
						@foreach (DespesaModel despesa in item.ListDespesas)
						{
							<tr>
								<td>@despesa.NomeDespesa</td>
								<td>R$ @despesa.ValorDespesa.ToString("F2")</td>
								<td class="hidden-on-small">@despesa.CreateDate</td>
								<td class="hidden-on-small">@despesa.QuantidadeParcelas</td>
								<td class="hidden-on-small">@despesa.QuantidadeParcelasPagas</td>
								@if (despesa.Etiqueta != 0)
								{
									foreach (var item2 in Model.First().Etiquetas)
									{
										if (despesa.Etiqueta == item2.EtiquetaId)
										{
											<td>@Html.Raw(@item2.Icone)</td>
										}
									}
								}
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	}
</div>



<link rel="stylesheet" type="text/css" href="~/css/ProjecaoDespesa.css" />
<script src="~/js/ProjecaoIndex.js"></script>
